# Python
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# VSCode
.vscode/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Windows
Thumbs.db
